.login{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--azulOscuro),var(--moradoOscuro)) ;
    padding: 0px 20px;
    min-width: 320px;
    position: relative;
}

.login .form__box{
    background: var(--blanco1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    padding: 0px 20px;
    text-align: center;
}

.login form{
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.login input{
    height: 40px;
    min-width: 200px;
    width: 100%;
    max-width: 300px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    border:2px solid var(--blanco3);
    background-color: var(--blanco3);
    outline: none;

}

.login input::placeholder{
    color: var(--negro1)
}

.login input:focus{
    color: var(--negro1);
    background-color: var(--blanco1);

    border:2px solid var(--blanco3);

}


.login button{
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background: linear-gradient( 150deg,var(--azulOscuro),var(--moradoOscuro));
    color: var(--blanco1);
    font-size: 15px;
}

a{
    color: var(--moradoOscuro);
    text-decoration: none;
}
