.calificaciones {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}

.calificaciones h3 {
    padding-bottom: 20px;
}

.calificaciones__container {
    width: 80vw;
    max-width: 800px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: auto;
    border-radius: 10px;
}

.table__title {
    width: 800px;
    display: grid;
    grid-template-columns: 300px 200px 300px;
    justify-items: center;
    background-color: var(--blanco3);
    padding: 10px 20px;
}

.table__title .periods {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.tabla {
    width: 800px;
    min-height: 300px;
    background-color: var(--blanco2);
}

.campos {
    width: 100%;
    display: grid;
    grid-template-columns: 300px 200px 300px;
    justify-items: center;
    padding: 10px 20px;
}

.campos div {
    width: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}