* {
    word-break: keep-all;
}

.App {
    width: 100vw;
    height: 100vh;
    background-color: var(--blanco1);
    display: grid;
    grid-template-columns: 60px 1fr;
}

.dark {
    background-color: var(---negro1);
}