@font-face {
    font-family: "black";
    src: url("./assets/fonts/Rubik-Black.ttf");
}

@font-face {
    font-family: "bold";
    src: url("./assets/fonts/Rubik-Bold.ttf");
}

@font-face {
    font-family: "medium";
    src: url("./assets/fonts/Rubik-Medium.ttf");
}

@font-face {
    font-family: "ligth";
    src: url("./assets/fonts/Rubik-Light.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*claro*/
    --azulClaro: #288FEE;
    --rojoClaro: #F53131;
    --verdeClaro: #30F92C;
    --naranjaClaro: #F5A224;
    --moradoClaro: #BE1FF6;

    --blanco1: #EAEAEB;
    --blanco2: #DBDCDD;
    --blanco3: #CBCBCD;

    /*oscuro*/
    --azulOscuro: #0071D9;
    --rojoOscuro: #F20000;
    --verdeOscuro: #04CF00;
    --naranjaOscuro: #DF8601;
    --moradoOscuro: #9800CD;

    --negro1: #2D3135;
    --negro2: #626468;
    --negro3: #96989A;
}

h1 {
    font-size: 66px;
    font-family: "black";
}

h2 {
    font-size: 50px;
    font-family: bold;
}

h3 {
    font-size: 37px;
    font-family: ligth;
}

h4 {
    font-size: 28px;
    font-family: bold;
}

h5 {
    font-size: 21px;
    font-family: medium;
}

h6 {
    font-size: 16px;
    font-family: medium;
}

a {
    font-size: 16px;
    font-family: medium;
}

span {
    font-size: 16px;
    font-family: medium;
}

p {
    font-size: 16px;
    font-family: medium;
}


button {
    font-size: 14px;
    font-family: medium;
}

input::placeholder {
    font-size: 14px;
    font-family: medium;
}

/* .section{
    display: grid;
    grid-template-columns: 60px 1fr;
    width: 100vw;
    height: 100vh;
    justify-items: center;
} */